/* Stylesheet CSS
 *
 *
 *
 *
 */

body {
    display: block;
    background-color: #F6F6F6;
    text-align: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    /* white-space: pre-line; */
}

.home {
    position: fixed;
    white-space: nowrap;
    vertical-align: middle;
    top: 0px;
    left: 0px;
    display: block;
    text-align: center;
    align-content: center;
    background: #AAA;
    height: 90px;
    width: 100%;
}

.homebar {
    color: #000000;
    display: block;
    text-align: center;
    margin: -15px;
    margin-top: -30px;
}

.homebar a {
    display: inline-block;
    color: #000000;
    background: transparent;
}

.homebar a:hover {
    display: inline-block;
    color: #000000;
    background: #F6F6F6;
}

.logo {
    display: block;
    align-content: center;
    margin-bottom: 0px;
}

.logo_p {
    display: inline-block;
    width: 80%;
}

.logo_img {
    display: inline-block;
    float: left;
    width: 0%;
    padding: 5px;
}

.logo_img img {
    width: 70px;
}

.intro {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

.intro p {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.intro #intro_title {
    text-align: center;
    background: #AAA;
    padding-top: 3px;
    padding-bottom: 3px;
}

.intro::before {
    content: "";
    display: block;
    height: 100px;
}

.gallery {
    display: block;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.gallery #gallery_title {
    background: #AAA;
    padding-top: 3px;
    padding-bottom: 3px;
}

.gallery::before {
    content: "";
    display: block;
    height: 100px;
}

.gallery p {
    margin-left: 7.5%;
    margin-right: 7.5%;
    text-align: justify;
}

.gallery img {
    max-width: 60%;
    border: 2px solid transparent;
    padding: 15px;
    margin-top: 50px;
}

.gallery img:hover {
    max-width: 60%;
    border: 2px solid #00A ;
    padding: 15px;
    margin-top: 50px;
}

.gallery #first_img {
    margin-top: 30px;
}

.reflexion {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

.reflexion::before {
    content: "";
    display: block;
    height: 100px;
}

.reflexion #reflexion_title {
    text-align: center;
    background: #AAA;
    padding-top: 3px;
    padding-bottom: 3px;
}

.reflexion p {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.info {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

.info #info_title {
    text-align: center;
    background: #AAA;
    padding-top: 3px;
    padding-bottom: 3px;
}

.info p {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.info::before {
    content: "";
    display: block;
    height: 100px;
}

.info::after {
    content: "";
    display: block;
    height: 200px;
}

.footer {
    display: block;
    width: 100%;
    height: 35px;
    bottom: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    position: fixed;
    color: #000000;
    font-size: small;
    background: #F6F6F6;
}

.footer p {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 3px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-top: 1px solid #000000;
    background: #F6F6F6;
}

/* eof */
